<div class="container-lg">
  <h1 class="mt-5" style="text-align: center;">Conversor de Moedas</h1>

  <form>
    <div class="mb-5">
      <p>
        <input type="text" style="border: none; display: block; width: 100%; margin-bottom: 10px;" name="textBtn1" [value]="textBtn1" readonly>
        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
          Converter de...
        </button>
      </p>
      <div class="collapse" id="collapseExample">
        <ul class="list-group mb-3" style="cursor: pointer;">
          <li class="list-group-item" (click)="selecionarMoeda(1, 1)">Dólar</li>
          <li class="list-group-item" (click)="selecionarMoeda(2, 1)">Euro</li>
          <li class="list-group-item" (click)="selecionarMoeda(3, 1)">Real</li>
          <li class="list-group-item" (click)="selecionarMoeda(4, 1)">Peso Argentino</li>
        </ul>
      </div>
      <input type="text" name="valorConverter" [(ngModel)]="valorConverter" class="form-control mt-2" id="exampleInputEmail1" aria-describedby="emailHelp">
      <label for="exampleInputPassword1" class="form-label mt-3">Valor de câmbio</label>
      <input type="text" class="form-control" id="valorCambio" aria-describedby="valorCambio" name="valorCambio" [(ngModel)]="valorCambio">
    </div>
    <div class="mb-5">
      <p>
        <input type="text" style="border: none; display: block; width: 100%; margin-bottom: 10px;" name="textBtn2" [value]="textBtn2" readonly>
        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample2">
          Converter para...
        </button>
      </p>
      <div class="collapse" id="collapseExample2">
        <ul class="list-group mb-3" style="cursor: pointer;">
          <li class="list-group-item" (click)="selecionarMoeda(1, 2)">Dólar</li>
          <li class="list-group-item" (click)="selecionarMoeda(2, 2)">Euro</li>
          <li class="list-group-item" (click)="selecionarMoeda(3, 2)">Real</li>
          <li class="list-group-item" (click)="selecionarMoeda(4, 2)">Peso Argentino</li>
        </ul>
      </div>
      <input type="text" name="valorConvertido" [value] = "valorConvertido" class="form-control mt-2" id="exampleInputPassword1" readonly>
    </div>
    <button class="btn btn-primary" (click)="converter()">Converter</button>
  </form>
</div>
